
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#main-container {
    margin: 0px auto;
    width: 80%;
    position: center;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
}

thead {
    background-color: #4a4a4a;
    border-bottom: solid 5px red;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: black;
    color: white;
}

.controles {
    display: flex;
    justify-content: center;
}

    .controles button {
        margin: 5px;
        width: 55px;
        height: 55px;
        
    }






fieldset {
    width: 80%;
    color: antiquewhite;
    background-color: #4a4a4a;
    position: center;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-color: black;
    border-radius: 10px;
    grid-gap: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

    fieldset label {
        padding: 5px;
    }

    fieldset textarea {
        padding: 5px;
    }


    fieldset input {
        padding: 10px;
        border-radius: 10px;
        border-color: beige;
    }

legend {
    padding: 5px;
    font-size: 25px;
    color: darkblue;
}

fieldset option {
    padding: 10px;
}
