@page
@model Capa_presentacion.Pages.Catalogos.ArticulosModel
@{
}


<head>
  <meta charset="utf-8">
  <title>Articulos</title>
  <link rel="stylesheet" href="~/css/Style_articulos.css">

  <script src="https://kit.fontawesome.com/433c5e385c.js" crossorigin="anonymous"></script>

</head>

<body>
 

  <form action="" target="_blank">

    <fieldset>
  
      <legend>Articulos</legend>
  
      <p><label>ID-Articulo: <input type="text" name="id"></label></p>
  
      <p><label>Articulos: <input type="text" name="Art"></label></p>
      <p><label>Id_promocion: <input type="text" name="prom"></label></p>
  
     
  
      <p>

        <label for="">

          Categoria:

          <select name="" id="">
         <option value="val1">
          1
         </option>
         <option value="val2">
          2
         </option>
        </select>


        </label>

      </p>


      <p>
  
        <label>
  
          Descripcion:<br>
  
          <textarea name="descrip"></textarea>
  
        </label>
  
      </p>



      <p>

        <label for="">

          Estado:

          <select name="" id="">
         <option value="val1">
          Activo
         </option>
         <option value="val2">
          Inactivo
         </option>
        </select>


        </label>

      </p>


    </fieldset>



    <div class="controles">
      <button><i class="fa-solid fa-trash-can"></i></button>
      <button><i class="fa-regular fa-floppy-disk"></i></button>
      <button><i class="fa-solid fa-pencil"></i></button>
      <button><i class="fa-solid fa-plus"></i></button>
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
      <button><i class="fa-solid fa-circle-xmark"></i></button>
    </div>
  
  
    
  
  </form>
    <br>
    <br>
    <br>


  <div id="main-container">

		<table>
			<thead>
				<tr>
				<th></th> <th>Id_Articulo</th> <th>Articulo</th>	<th>Categoria</th><th>Descripcion</th><th>Estado</th>
				</tr>
			</thead>
      

			<tr>
				<td><input type="checkbox"></td><td></td><td></td> <td></td>  <td></td> <td><select> <option value="value0">Inactiva</option> <option value="value1">Activa</option> </select></td>
			</tr>
		
			
		</table>
	</div>






</body>
