@page
@model TiendaRopa.Pages.Modulos.LoginModel
@{
}

<link rel="stylesheet" href="/css/Estilos-Login.css" >

<body>
    


<div class="container">


<div class="container_form" >
    <img src="/css/WhatsApp Image 2022-06-16 at 10.12.40 PM.jpeg" alt="">
    <h2>Iniciar Sesion </h2>

<form action="">
    <input type="text" placeholder="Usuario">
    <input type="password" placeholder="Contraseña">
    <a href=""> <input id="iniciar" type="submit" value="Iniciar Sesion" > </a>
    
</form>


</div>

</div>



</body>