@page
@model TiendaRopa.Pages.Modulos.Mod_ventasModel
@{
}
<script src="https://kit.fontawesome.com/433c5e385c.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/Cat_ventas.css">


<body>

<form action="" target="_blank">

    <fieldset class="f1">
  
      <legend>Factura</legend>
      <p><label>Id-Factura: <input type="text" id="txtcode" ></label></p>
      <p><label>Cliente:  <input  type="text" id="txtcliente" ></label></p>
      <p><label>Fecha: <input type="date" id="txtfecha" ></label></p>
      </fieldset>
      <br>

    <fieldset class="f1">
      <legend>Articulos</legend>
      <p><label>Articulo <input type="text" id="art"></label></p>
      <p><label>Cantidad <input type="text" id="canti" ></label></p>
      <p><label>Talla <input type="text" id="tall"></label></p>
      <p><label>Color  <input type="text" id="col" ></label></p>
      <p><label>Diseño <input type="text" id="dis"></label></p>
      <p><label>Marca <input type="text" id="marc"></label></p>
      <p><label>Material <input type="text" id="mat"></label></p>
      <p></p>
      <p><label>Estilo <input type="text" id="style"></label></p>
      <p></p>
     
      <button id="Btn_add">Agregar articulo</button>
    </fieldset>
      
  
  
    



   
  
  
    
  
  </form>
  
  <table id="TableData" class="table">
                <thead>

                </thead>
                <tbody>
                </tbody>
                 </table>
    

  

  <fieldset class="f2">
  
    <legend>Datos</legend>

    <p><label>Iva:  </label> <input type="text" id="txt_iva_final" readonly onmousedown="return false;" > </p>
    <p><label>Subtotal: </label> <input type="text" id="txt_subtotal_final" readonly onmousedown="return false;" > </p>
    <p><label>Descuento: </label>  <input type="text" id="txt_descuento_final" readonly onmousedown="return false;" > </p>
    <p><label>Total: </label> <input type="text" id="txt_total_final" readonly onmousedown="return false;" >  </p>
   
    <p><label class="frase_reg"> </label>  <button id="BtnSave" > Registrar Venta  </button>  </p>
    </fieldset>


    </body>




    <script type="module">
    import  CreateTable from "../js/TableComponent.js";
    const LoadData = async () => {
        let url = "../api/Ventas/GetVentas";
        let response = await fetch(url);
        response = await response.json();
        CreateTable(response, TableData, FunctionEdit);
    }
    const FunctionEdit = async (Item) => {

        console.log(Item)
        txtcode.value = Item.id_ventas;
        txtcliente.value = Item.cliente;
        txtfecha.value = Item.fecha;
        txt_descuento_final.value = Item.descuento;
        txt_iva_final.value = Item.iva;
        txt_subtotal_final.value = Item.subtotal;
        txt_total_final.value = Item.total;

    }
    window.onload = () => {
        BtnSave.onclick = async () => {
            const ObjIns = {

                Id_ventas: (txtcode.value == "" ? -1 : txtcode.value),
                Cliente: txtcliente.value,
                Fecha: txtfecha.value,
                Descuento: txt_descuento_final.value,
                Iva: txt_iva_final.value,
                Subtotal: txt_subtotal_final.value,
                Total: txt_total_final.value,
  

            }
            let url = "../api/Ventas/SaveVentas";
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json; charset-utf-8',
                    'Accept': '*/*'
                },
                body: JSON.stringify(ObjIns)
            });
            response = await response.json();
            if (response == true) {
                LoadData();
                txtcode.value = "-1";
                txtcliente.value = " ";
                txtfecha.value = " ";
                txt_descuento_final.value = " ";
                txt_iva_final.value = " ";
                txt_subtotal_final.value = " ";
                txt_total_final.value = " ";
               



            }
        }
        LoadData();
    }







</script>