@page
@model TiendaRopa.Pages.Modulos.UsuariosModel
@{
}
<script src="https://kit.fontawesome.com/433c5e385c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/Usuarios.css">
<div class="Princ">
<div class="container-fluid">
    <div class="row mb-2">
       
        <div class="col-4">
            <label for="code" class="form-label">Codigo</label>
            <input type="text" class="form-control" id="txtcode" placeholder="Codigo">
        </div>

       
        <div class="col-6">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtname" placeholder="Nombre">
        </div>

         <div class="col-2">
            <label for="code" class="form-label">Correo</label>
            <input type="text" class="form-control" id="txtmail" placeholder="E-mail">
        </div>

         <div class="col-2">
            <label for="" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="txtpass" placeholder="Contraseña">
        </div>

         <div class="col-2">
            <label for="" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="txttel" placeholder="N°">
        </div>


        <div class="col-8">
            <label for="ddstate" class="form-label">Estado</label>
            <select class="form-control form-select form-select-sm" id="ddstate" aria-label="select">
                <option value=1 selected>Activo</option>
                <option value=0>Inactivo</option>
            </select>
        </div>

       
    </div>
    
    <div class="row my-2">
        <div class="col d-flex justify-content-end">
            <button  type="button" class="btn btn-primary" id="BtnSave" value="Guardar"> 
<i class="fa-solid fa-file-circle-plus"></i>
                </button>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h4>Lista de usuarios</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="TableData" class="table">
                <thead>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script type="module">
    import CreateTable from "../js/TableComponent.js";
    const LoadData = async () => {
        let url = "../api/Usuarios/GetUsuarios";
        let response = await fetch(url);
        response = await response.json();
        CreateTable(response, TableData, FunctionEdit);
    }
    const FunctionEdit = async (Item) => {
        console.log(Item)
        txtcode.value = Item.id_usuario;
        txtname.value = Item.nombre;
        txtmail.value = Item.correo;
        txtpass.value = Item.contraseña;
        txttel.value = Item.telefono;
        ddstate.value = Item.estado;
     

       
    }
    window.onload = () => {
        BtnSave.onclick = async () => {
            const ObjIns = {

                Id_usuario: (txtcode.value == "" ? -1 : txtcode.value),
                Nombre: txtname.value,
                Correo: txtmail.value,
                Contraseña: txtpass.value,
                Telefono: parseInt(txttel.value),
                Estado: parseInt(ddstate.value),
                
            }
            let url = "../api/Usuarios/SaveUsuarios";
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json; charset-utf-8',
                    'Accept': '*/*'
                },
                body: JSON.stringify(ObjIns)
            });
            response = await response.json();
            if (response == true) {
                LoadData();
                txtcode.value = "-1";
                txtname.value = " ";
                txtmail.value = " ";
                txtpass.value = "";
                txttel.value = " ";
                txtdescription.value = " ";
                ddstate.value = -1;
               



            }
        }
        LoadData();
    }
</script>