@page
@model IndexModel
@{
  
}


<body>
    <script src="https://kit.fontawesome.com/433c5e385c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Estilo-Index.css" >


    <div class="wrapper">
      <input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <nav id="sidebar">
        <div class="title">Macy Store</div>
        <ul class="list-items">
          <li><a href="/Index">Inicio <i class="fa-solid fa-house-chimney-user"></i>  </a></li>
          <li><a href="/Catalogos/CtlCategorias"> Categorias <i class="fa-duotone fa-book-bookmark"></i> </a></li>
          <li><a href="/Catalogos/CtlColores"> Colores  </a></li>
          <li><a href="/Catalogos/Cat_Estilos"> Estilos </a></li>
          <li><a href="/Catalogos/CtlDiseños"> Diseños </a></li>
          <li><a href="/Catalogos/CtlTallas"> Tallas </a></li>
          <li><a href="/Catalogos/CtlMarcas"> Marcas </a></li>
          <li><a href="/Catalogos/CtlMateriales"> Materiales </a></li>
          <li><a href="/Catalogos/CtlPromocion"> Promociones </a></li>
          <li><a href="/Catalogos/CtlProveedor"> Proveedor <i class="fa-regular fa-address-book"></i> </a></li>
          <li><a href="/Catalogos/CtlBodega"> Bodegas <i class="fa-solid fa-boxes-packing"></i></a></li>
          <li><a href="/Catalogos/Cat_Articulos"> Articulos </a></li>
        </ul>
      </nav>
    </div>

</body>